.box{

    height: 30vh;
    width: 30vh;
    background-color: red;
    border: 11px solid black;
    border-radius: 50%;
    border-top-color: yellow;
    border-bottom-color: green;
    border-right-color: blue;
    box-sizing: border-box;
    animation: t 5s linear infinite;
}
body{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: pink;
}
.outer{
    width: 100%;
}
.bottom{
    height: 10px;
    width: 100%;
    background-color: black;
}
@keyframes t {
     0%{
        body{
            background-color: yellow;
        }
     }
     100%{
        body{

           background-color: red;
        }
     }
    
}